h1	{
    color: black;
    text-transform: uppercase;
    text-align: center;
}

table{
    margin: auto;
}

td{
    width: 100px;
    height: 100px;
    text-align: center;
    /*border: 1px solid black;*/
}

.vertical { 
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horizantal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
